<a href="https://colab.research.google.com/github/VrashabhShetty/Python-Placement/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#create 5 lists

In [ ]:
l1=["apple","banana","cherry","mango"]
l2=[10,20,30,40]
l3=[True,False]

l4=list(("Jack"))
l5=list(("Jack","John"))

print(l4)
print(l5)
print(l1[0])
print(l1[0:4])
print(l1[:4])
print(l1[0:])
print(l1[:])

#starting index should be less than or equal to
print(l1[-4:-1])
print(l1[-1:-4])
x=len(l1)
print(x)
print(type(l1))
print(type(l1[0]))
if "apple" in l1:
  print("Exists")

l1[1]="kiwi"
print(l1)
l1[1:3]=["Pineapple","Dates","x"]
print(l1)

['J', 'a', 'c', 'k']
['Jack', 'John']
apple
['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry', 'mango']
['apple', 'banana', 'cherry']
[]
4
<class 'list'>
<class 'str'>
Exists
['apple', 'kiwi', 'cherry', 'mango']
['apple', 'Pineapple', 'Dates', 'x', 'mango']

In [ ]:
#if you insert more items than you replace

In [ ]:
list=["apple","banana","cherry"]
list[1:3]=["blackcurrant","watermelon"]
print(list)

['apple', 'blackcurrant', 'watermelon']

In [ ]:
#if you insert less items than you replace

In [ ]:
list=["apple","banana","cherry"]
list[1:3]=["watermelon"]
print(list)

['apple', 'watermelon']

In [ ]:
 #insert() method inserts an item at the specific index position
 list=["apple","banana","cherry"]
 list.insert(2,"watermelon")
 print(list)

['apple', 'banana', 'watermelon', 'cherry']

In [ ]:
#to add an item to the end of the list
list1=["apple","banana","cherry"]
list2=["mango","pineapple","papaya"]
list1.extend(list2)
print(list1)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
#pop() method removes the specified index
thislist=["apple","banana","cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [ ]:
#del keyword also removes the specified index
thislist=["apple","banana","cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [ ]:
thislist=["apple","banana","cherry"]
del thislist

In [ ]:
#clear method empties the list
thislist=["apple","banana","cherry"]
thislist.clear()
print(thislist)

[]

In [ ]:
#print all items by index number
thislist=["apple","banana","cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [ ]:
#while loop
thislist=["apple","banana","cherry"]
i=0
while i<len(thislist):
  print(thislist[i])
  i=i+1

apple
banana
cherry

In [ ]:
#List Comprehensions
#newlist=[expression for item in iterable loop statement cond==true]
thislist=["apple","banana","cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [ ]:
#Based on a list of fruits you want a new list containing
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[]
for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [ ]:
fruits=["apple","banana","cherry","kiwi","mango"]
newlist=[x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [ ]:
#Sort the list numerically:
thislist=[100,50,65,82,23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [ ]:
#Sort the list alphabetically
thislist=["orange","mango","kiwi","pineapple","banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
#Sort the list in reverse order alphabetically
thislist=["orange","mango","kiwi","pineapple","banana"]
thislist.sort(reverse=True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
#Sort the list in reverse numerically:
thislist=[100,50,65,82,23]
thislist.sort(reverse=True)
print(thislist)

[100, 82, 65, 50, 23]

In [ ]:
#to count the number of items in a given list
def count_occ(li,x):
  count=0
  for i in li:
    if(i==x):
      count=count+1
  return count
li=[10,20,40,40,10,90,70,40]
x=40
print(count_occ(li,x))

3

In [ ]:
#to count the unique values in a list
l1=[1,2,5,1,5,7]
l2=[]
count=0
for i in l1:
  if i not in l2:
    count=count+1
    l2.append(i)
print(l2)
print("No of unique items are:",count)

[1, 2, 5, 7]
No of unique items are: 4

In [ ]:
#find out the duplicate removal list product using list comprehension
def d_prod(res):
  product=1
  for i in res:
    product=product*i
  return product
l1=[1,3,5,6,3,5,6,1]
print("The original list is:",l1)
res=[]
[res.append(x) for x in l1 if x not in res]
product=d_prod(res)
print("Duplication removal list:",res)
print("Duplication removal list product:",str(product))

The original list is: [1, 3, 5, 6, 3, 5, 6, 1]
Duplication removal list: [1, 3, 5, 6]
Duplication removal list product: 90

In [ ]:
#WAP to extract elements with a frequency greater than k
list=[4,6,4,3,3,4,3,7,8,8,8]
print("The original list:"+str(list))
k=2
res=[]
for i in list:
  freq=list.count(i)
  if freq>k and i not in res:
    res.append(i)
print("The required elements:"+str(res))

The original list:[4, 6, 4, 3, 3, 4, 3, 7, 8, 8, 8]
The required elements:[4, 3, 8]

In [ ]:
#wap to test if a list contains elements in a range
list=[4,5,6,7,3,9]
print("The original list is:"+str(list))
i,j=3,10
res=True
for i in list:
  if i in range(i,j):
    res=True
  else:
    res=False
print("Does the list contain all elements in range:"+str(res))

The original list is:[4, 5, 6, 7, 3, 9]
Does the list contain all elements in range:True

In [ ]:
#wap to demonstrate list intersection and union
def list_intersection(list1,list2):
  return list(set(list1) & set(list2))
list1=[10,10,20,40]
list2=[5,10,15]
print("Intersection:",list_intersection(list1,list2))

def list_union(list1,list2):
  return list(set(list1) | set(list2))
list1=[10,10,20,40]
list2=[5,10,15]
print("Union:",list_union(list1,list2))

TypeError: 'list' object is not callable

In [ ]:
#wap to merge 2 sorted lists into a single sorted list
list1=[1,3,5,7,9]
list2=[2,4,6,8,10]
m=[]
i=j=0
while (i<len(list1) and j<len(list2)):
  if (list1[i]<list2[j]):
    m.append(list1[i])
    i=i+1
  else:
    m.append(list2[j])
    j=j+1
m.extend(list1[i:])
m.extend(list2[j:])
print("First List:",list1)
print("Second List:",list2)
print("Merged Sorted List;",m)

First List: [1, 3, 5, 7, 9]
Second List: [2, 4, 6, 8, 10]
Merged Sorted List; [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#WAP to partition a list around a given value
def partition_list(lst,pivot):
  less_than=[x for x in lst if x<pivot]
  equal_to=[x for x in lst if x==pivot]
  greater_than=[x for x in lst if x>pivot]
  return less_than + equal_to + greater_than

my_list=[3,1,4,1,5,9,2,6,5]
pivot_value=4
print("Partitioned list:",partition_list(my_list,pivot_value))

Partitioned list: [3, 1, 1, 2, 4, 5, 9, 6, 5]

In [ ]:
#
def largest_sub_array_sum(lst):
  max_sum=current_sum=lst[0]

  for num in lst[1:]:
    current_sum=max(num,current_sum+num)
    max_sum=max(max_sum,current_sum)
  return max_sum

my_list=[-2,1,-3,4,-1,2,1,-5,4]
print("Largest subarray sum:",largest_sub_array_sum(my_list))

Largest subarray sum: 6

In [ ]:
#peak element
def find_peak_element(nums):
  if not nums:
    return None
  left,right=0,len(nums)-1
  while left<right:
    mid=left+(right-left)//2
    if nums[mid]<nums[mid+1]:
      left=mid+1
    else:
      right=mid
  return left
my_list=[1,2,1,3,5,6,4]
print("Peak element index:",find_peak_element(my_list))

Peak element index: 5