<a href="https://colab.research.google.com/github/VrashabhShetty/Python-Placement/blob/main/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def create_tuples():
  tuple1=(1,2,3,4,5)
  tuple2=('a','b','c','d','e')
  tuple3=("apple","banana","cherry")
  return tuple1,tuple2,tuple3

def access_tuple_items(tuple1,tuple2):
  #Accessing tuple items using positive and negative
  print("Tuple 1:",tuple1)
  print("First element of tuple1:",tuple1[0])
  print("Last element of tuple1:",tuple1[-1])
  print("Tuple 2:",tuple2)
  print("Second element of tuple2:",tuple2[1])
  print("Secind Last element of tuple2:",tuple2[-2])
  print(tuple2[0:5])

def unpacking_tuple1(tuple3):
  #Unpacking a tuple
  (green, yellow, red)=tuple3
  print(green)
  print(yellow)
  print(red)

def unpacking_tuple2(fruits):
  #Unpacking of tuples using *
  fruits=("apple","banana","cherry","strawberry","raspberry")
  (green,yellow,*red)=fruits
  print(green)
  print(yellow)
  print(red)

def change_tuples(tuple1, tuple2):
  #Change tuple values
  list1=list(tuple1)
  list2=list(tuple2)
  list1.append(6)
  list2.remove('c')
  tuple1=tuple(list1)
  tuple2=tuple(list2)
  return tuple1, tuple2

def loop_through_tuples(tuple1, tuple2):
  #Loop through tuples
  for x in tuple1:
    print(x)
  for x in tuple2:
    print(x)

def join_tuples(tuple1, tuple2):
  #Join two tuples
  tuple3=tuple1+tuple2
  return tuple3

In [ ]:
my_tuple=(1,2,3)
another_tuple=tuple([4,5,6])
print(my_tuple[0])
print(another_tuple[-1])
print(my_tuple[1:3])
combined_tuple=my_tuple+another_tuple
print(combined_tuple)
repeated_tuple=my_tuple*3
print(repeated_tuple)
print(2 in my_tuple)
print(4 not in my_tuple)
print(len(my_tuple))
for item in my_tuple:
  print(item)
string_to_tuple=tuple("hello")
print(string_to_tuple)
list_to_tuple=tuple([1,2,3])
print(list_to_tuple)
print(my_tuple.count(2))
print(my_tuple.index(3))

1
6
(2, 3)
(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
True
True
3
1
2
3
('h', 'e', 'l', 'l', 'o')
(1, 2, 3)
1
2

In [ ]:
tuples_of_tuples=((1,'apple'),(3,'orange'),(2,'banana'))
sorted_tuples=sorted(tuples_of_tuples, key=lambda x:x[1])
print(sorted_tuples)

[(1, 'apple'), (2, 'banana'), (3, 'orange')]

In [ ]:
#tuple comprehension to create a tuple of squares
squares_tuple=tuple(x**2 for x in range(1,6))
print("Squares tuple:",squares_tuple)

Squares tuple: (1, 4, 9, 16, 25)

In [ ]:
#Zipping up of tuples
l1=[1,2,3]
l2=['a', 'b', 'c']
zipped_tuple=tuple(zip(l1,l2))
print("Zipped tuple:",zipped_tuple)

Zipped tuple: ((1, 'a'), (2, 'b'), (3, 'c'))

In [ ]:
from collections import namedtuple
import math

#define a named tuple for coordinates
point=namedtuple('Point',['x','y'])

#Create 2 points
p1=point(1,2)
p2=point(3,4)

#calculate the distance between the points
distance=math.sqrt((p2.x-p1.x)**2+(p2.y-p1.y)**2)
print(distance)

2.8284271247461903

In [ ]:
#Filter Tuple
original_tuple=(1,2,3,4,5)
filtered_tuple=tuple(filter(lambda x:x%2==0,original_tuple))
print(filtered_tuple)

(2, 4)

In [ ]:
from functools import reduce
def add(x,y):
  return x+y

original_tuple=(1,2,3,4,5)
result=reduce(add,original_tuple)
print(result)

15